#mainPopup {
	padding: 10px;
	width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
	font-size: 2em;
}

.octicon.octicon-file-text {
	color: #767676;
}
.octicon.octicon-file-directory {
	color: #80a6cd;
}

a {
	color: #4078c0;
}