#mainPopup {
    padding: 0 20px;
    margin-bottom: 20px;
    min-width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
	font-size: 2em;
}

.octicon.octicon-file-text {
	color: #767676;
}
.octicon.octicon-file-directory {
	color: #80a6cd;
}

a {
	color: #4078c0;
}
/* Remove side */
i.jstree-icon.jstree-ocl {
    display: none;
}

.jstree-default .jstree-anchor {
    color: #4078c0 !important;
    font-size: 13px;
}

.badge {
    margin-left: 5px;
    vertical-align: baseline;
}